{% extends "layouts/base.html" %} 

{% block content %}
<section class="hero">
  <h1>{{ intro.main }}</h1>
  <p>{{ intro.summary }}</p>
  <a href="{{ intro.buttonUrl}}" class="btn">{{ intro.buttonText }}</a>
</section>

<div class="container-wrapper">
  {% for item in container.contents %}
    <a href="{{ item.url }}" class="container">
      <div class="box">
        <img src="{{ item.img }}" alt="{{ item.text }}" class="image">
        <div class="text-content">{{ item.text }}</div>
      </div>
    </a>
  {% endfor %}
</div>

{% endblock %}