<a class="[ skip-link ] [ button ]" href="#main-content">Skip to content</a>
<header role="banner" class="navbar">
	<div class="wrapper">
		<div class="navbar__inner">
			<div class="brand">
				<a href="/" aria-label="{{ site.name }} - home" class="navbar-logo">
				{% include "partials/Book_logo.svg" %}
				</a>
			</div>
			<div class="logo-text"><h1>{{ site.name }}</h1></div>
			<nav class="site-head__nav" aria-label="Primary">
				<ul class="nav-links">
                    {% for item in navigation.items %}
					<li>
						{% if item.children %}
						<a href="#" class="flip">{{ item.text }} <span> > </span></a>
						<ul class="dropdown-menu">
							{% for child in item.children %}
							<li><a href="{{ child.url }}">{{ child.text }}</a></li>
							{% endfor %}
						</ul>
						{% else %}
						<a href="{{ item.url }}" {{ helpers.getLinkActiveState(item.url, page.url) | safe }}>{{ item.text }}</a>
						{% endif %}
					</li>
                    {% endfor %}
				</ul>
			</nav>
		</div>
	</div>
</header>